## User settings
xcuserdata/
*.xcuserstate

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Packages/
Package.pins
Package.resolved
*.xcodeproj
.swiftpm
*.xcworkspace

.build/

# Visual Studio
/.vs
/.vscode

# macOS
.DS_Store

# Generated 
Sources/ShaderReflection
Resources/Shaders/SPIRV/*
Resources/Shaders/Metal/*
/Resources/Shaders/Compiled/*
/Resources/Shaders/Intermediates/*
/Sources/ShaderReflection.swift
